@import "../../templates/reachBottom.scss";

.balance-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .treasurelist-box {
    width: 342rpx;
    height: 342rpx;
    border-radius: 10rpx;
    overflow: hidden;
    position: relative;
    margin-bottom: 24rpx;
    .image-box {
      width: 342rpx;
      height: 342rpx;
      border-radius: 10rpx;
    }
    .txt-model {
      width: 342rpx;
      height: 342rpx;
      border-radius: 10rpx;
      position: absolute;
      top: 0;
      background: rgba(0,0,0,.3);
    }
    .txt-box {
      position: absolute;
      top: 239rpx;
      left: 20rpx;
      color: #FFFFFF;
      .title {
        width: 250rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 34rpx;
        font-weight: 500;
      }
      .time {
        font-size: 28rpx;
      }
    }
  }
}
