.moments-container {
  width: 100%;
  .top-mark {
    position: absolute;
    width: 100%;
    height: 124rpx;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 15;
  }
  .banner-image-box {
    .imagelist-box {
      .swiper-box {
        height:750rpx;
        .swiperlist {
          position: relative;
          .img {
            width: 100%;
            height:750rpx;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
          }
          .label-box {
            height:44rpx;
            line-height:44rpx;
            border-radius:22rpx;
            padding:0 20rpx;
            position: absolute;
            bottom:24rpx;
            left:32rpx;
            color:#fff;
            border:1rpx solid #fff;
            display:flex;
            z-index: 10;
            .label-img {
              width:22rpx;
              height:22rpx;
              margin-right:8rpx;
            }
            .laber-txt {
              font-size:22rpx;
            }
          }
        }
      }
    }
  }
}
