page{
  background: #F5F5F5;
}
.moments-container {
  width: 100%;
  background: #fff;
  .top-mark {
    position: absolute;
    width: 100%;
    height: 124rpx;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 5;
  }
  .banner-image-box {
    width: 100%;
    .imagelist-box {
      width: 100%;
      position: relative;
      .swiper-box {
        width: 100%;
        height: 750rpx;
        .swiperlist {
          position: relative;
          .img {
            width: 100%;
            height: 100%;
            overflow: hidden;
          }
          .label-box {
            height: 44rpx;
            line-height: 44rpx;
            border-radius: 22rpx;
            padding: 0 20rpx;
            position: absolute;
            bottom: 24rpx;
            left: 32rpx;
            color: #FFFFFF;
            border: 1rpx solid #FFFFFF;
            display: flex;
            z-index: 10;
            .label-img {
              width: 22rpx;
              height: 22rpx;
              margin-right: 8rpx;
            }
            .laber-txt {
              font-size: 22rpx;
            }
          }
        }
      }
      .page-num-box {
        width: 70rpx;
        height: 38rpx;
        line-height: 38rpx;
        background: rgba(0,0,0,0.5);
        border-radius: 20px;
        font-size: 22rpx;
        color: #FFFFFF;
        text-align: center;
        z-index: 10;
        position: absolute;
        right: 32rpx;
        bottom: 24rpx;
      }
    }
    .video-box {
      width: 100%;
    }
  }
  .detail-box {
    padding: 0 32rpx;
    .user-box {
      height: 100rpx;
      line-height: 100rpx;
      display: flex;
      justify-content: space-between;
      position: relative;
      .user-head {
        display: flex;
        .user-img {
          width: 72rpx;
          height: 72rpx;
          border-radius: 50%;
          margin: 14rpx 20rpx 14rpx 0;
          overflow: hidden;
        }
        .user-name {
          font-size: 30rpx;
        }
      }
      .share-box {
        display: flex;
        .share-cion {
          margin-top: 10rpx;
          width: 44rpx;
          height: 44rpx;
          margin-left: 24rpx;
        }
      }
    }
    .content-box {
      .title {
        font-size: 48rpx;
        font-weight: 600;
        color: #333333;
        margin: 20rpx 0;
      }
      .txt {
        font-size: 32rpx;
        line-height: 55rpx;
        color: #666666;
        letter-spacing: 3rpx;
      }
    }
    .footer-box {
      padding: 30rpx 0;
      height: 64rpx;
      line-height: 64rpx;
      display: flex;
      justify-content: space-between;
      .labeltxt-box {
        padding: 0 20rpx;
        display: flex;
        border-radius: 10rpx;
        background: #F2F8FF;
        .imgsbox {
          width: 32rpx;
          height: 28rpx;
          margin: 3rpx 20rpx 0 0;
        }
        .labelname {
          color: #4A90E2;
          font-size: 28rpx;
        }
      }
      .timetxt {
        font-size: 24rpx;
        color: #999999;
      }
    }
  }
  .footbanner-box {
    height: 121rpx;
    line-height: 121rpx;
    background: #F5F5F5;
    text-align: center;
    .footimg {
      width: 545rpx;
      height: 37rpx;
      margin: 0 auto;
    }
  }
}
