@import "../../templates/networkErrorTemplate";

.GoodsLogsBox {
  .logsTitle {
    display: flex;
    justify-content: space-between;
    line-height: 48rpx;
    padding: 0 24rpx;
    .logsTxt {
      color: #333333;
      font-size: 36rpx;
      font-weight: 600;
    }
    .moretxt {
      display: flex;
      align-items: center;
      color: #999999;
      font-size: 24rpx;
      .more-icon {
        width: 18rpx;
        height: 18rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAkBAMAAAB73QeTAAAAGFBMVEVHcEyZmZmZmZmZmZmdnZ2ZmZmampqZmZkuNBveAAAAB3RSTlMAdvM8DezX39IB1AAAADlJREFUGNNjYEAAFgc4U7wQzgwvF4Ax08vhwkblcGFm9YEWdsBgIilAaKObIHJAIQUfUqAiBTUCAADExiPLOQ43WgAAAABJRU5ErkJggg==");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .playGoodsBox {
    width: 100%;
    position: relative;
    min-height: 350rpx;
    .scrolls {
      height: 100%;
      .auction-list {
        display: flex;
        white-space: nowrap;
        margin: 0 24rpx;
        .auction_box {
          display: inline-block;
          width: 294rpx;
          position: relative;
          margin: 24rpx 16rpx 0 0;
          &:last-of-type {
            padding-right: 24rpx;
          }
          .img-box {
            width: 294rpx;
            height: 294rpx;
            background: #F8F8F8;
            border-radius: 16rpx;
            overflow: hidden;
            position: relative;
            .txt-model {
              position: absolute;
              top: 0;
              width: 294rpx;
              height: 294rpx;
              background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
              .txt-box {
                position: absolute;
                bottom: 20rpx;
                left: 16rpx;
                right: 16rpx;
                color: #FFFFFF;
                z-index: 5;
                .title {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 28rpx;
                  font-weight: 600;
                }
                .time {
                  font-size: 22rpx;
                  color: rgba(255, 255, 255, .8);
                }
              }
            }
          }
          .userbox {
            padding-top: 14rpx;
            display: flex;
            align-items: center;
            height: 34rpx;
            image {
              width: 34rpx;
              height: 34rpx;
              border-radius: 50%;
            }
            view {
              flex: 1;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #333333;
              font-size: 26rpx;
              padding-left: 10rpx;
            }
          }
        }
      }
    }
  }
}
