@import "../../../templates/withoutStateTemplate.scss";
.treasureLogBox {
  width: 100%;
  .titleChoiseBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-size: 28rpx;
    background: #FFFFFF;
    .scrolllabel {
      display: flex;
      justify-content: space-between;
      .scrolls {
        width:85%;
        white-space: nowrap;
        display: flex;
        overflow: hidden;
        .txt-box {
          display: inline-block;
          padding: 0 32rpx;
          color: #888888;
          font-weight: 400;
        }
      }
      .open-more-box {
        width: 125rpx;
        height: 72rpx;
        line-height: 72rpx;
        display: flex;
        background: #FFFFFF;
        .opentxt {
          font-size: 26rpx;
          margin: 0 10rpx 0 24rpx;
        }
        .down-img-icon {
          width: 18rpx;
          height: 17rpx;
        }
      }
    }
    .selsctlabel {
      padding-bottom: 35rpx;
      .select-title {
        height: 72rpx;
        line-height: 72rpx;
        display: flex;
        .txt {
          font-size: 26rpx;
          margin: 0 258rpx 0 323rpx;
        }
        .close-icon {
          width: 27rpx;
          height: 27rpx;
        }
      }
      .selectlistbox {
        padding: 0 30rpx;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .lebellist {
          width: 220rpx;
          height: 72rpx;
          line-height: 72rpx;
          border-radius: 10rpx;
          text-align: center;
          background: #F8F8F8;
          font-size: 26rpx;
          margin-top: 15rpx;
        }
      }
    }
  }
  .articleBox {
    margin: 8rpx 24rpx 0;
    .margin-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 90rpx;
      .articleList {
        width: 342rpx;
        background: #FFFFFF;
        border-radius: 16rpx;
        overflow: hidden;
        position: relative;
        margin-bottom: 18rpx;
        .img-box {
          width: 100%;
          height: 342rpx;
          background: #F8F8F8;
        }
        .userDetail {
          color: #FFFFFF;
          position: absolute;
          width: 320rpx;
          top: 238rpx;
          left: 20rpx;
          .txtName {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 34rpx;
          }
          .txtTime {
            font-size: 28rpx;
          }
        }
        .userImg {
          display: flex;
          padding: 18rpx 16rpx;
          .user-img {
            width: 40rpx;
            height: 40rpx;
            border-radius: 50rpx;
          }
          .username {
            font-size: 24rpx;
            line-height: 38rpx;
            color: #666666;
            margin-left: 10rpx;
          }
        }
      }
    }
  }
  .model-box {
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 5;
    background: rgba(0,0,0,.3);
  }
}
