@import "../../templates/waterfallsFlowTemplate";
@import "../../templates/networkErrorTemplate";
@import "../../templates/reachBottom";

.waterfallsFlow-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 500rpx;
  .flow-col {
    width: 100%;
  }
}
