@import "../../templates/waterfallsFlowTemplate.scss";
@import "../../templates/networkErrorTemplate.scss";
@import "../../templates/reachBottom.scss";

.waterfallsFlow-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 500rpx;
  .flow-col {
    width: 100%;
  }
}
