.guide-container {
  width: 100%;
  .cover-image {
    padding: 0 32rpx;
    height: 374rpx;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    .mark {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 5;
      background: #000000;
      opacity: 0.4;
    }
    .title {
      position: absolute;
      left: 32rpx;
      right: 32rpx;
      top: 150rpx;
      color: #FFFFFF;
      font-size: 50rpx;
      font-weight: 500;
      line-height: 70rpx;
      z-index: 10;
    }
  }
  .category {
    width: 100%;
    min-height: 40rpx;
    padding-top: 43rpx;
    position: relative;
    top: -72rpx;
    background: #FFFFFF;
    border-radius: 24rpx 24rpx 0 0;
    overflow: hidden;
    z-index: 20;
    .first-level-node {
      width: 100%;
      padding-bottom: 60rpx;
      .first-level-node-head {
        display: flex;
        align-items: center;
        padding: 0 32rpx;
        height: 50rpx;
        margin-bottom: 24rpx;
        .first-level-node-index {
          font-family: 'Base', serif;
          font-size: 38rpx;
          color: #75CEF1;
          margin-right: 9rpx;
        }
        .first-level-node-name {
          font-size: 36rpx;
          color: #333333;
          font-weight: 600;
        }
        .desc-icon {
          width: 28rpx;
          height: 28rpx;
          border-radius: 50%;
          margin-left: 6rpx;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4BAMAAABaqCYtAAAAJ1BMVEVHcEyIiIiJiYmPj4+MjIyIiIiIiIiJiYmJiYmKioqJiYmIiIiIiIhOEBiFAAAADHRSTlMA5bUNKvXVZnlMmoukYXdyAAAB5ElEQVQ4y31Vv0/CUBA+KKjAJv4aOqAhGpMOOCiOOuDEgAljB6IuJgyoK4NGJ8NgTGRiME4mMjC7tWlrgfujfK/h/Sx5b3j09R5393333RWAr9zr7ubl+vcZLFnvLiYrPEyZrCfy+urnd59c2alpxjsMDxKHuXsXt1XbEKMH9lzv4q1sK6HXE6dVGydSQCd8lu+eur4Ie4EbapRzvOEAbV/Lz3I8BvcEP3VkRbxePDmzNCVjn6VaSRuzi4RHXi1ttOxp8tttL6O6ESWQ8XGZcQ0pLUfCa/1r70X4LZN98MdJpEWrslM/Jpvd4chxy8aQoV/xAArY49lXwRpimdGPb5ANWcgRxW1158yRW4G8z4I4Ad2bHj+3oMnzsVt0zyPz1A9gEHBjwmIGWUbNGMYtLr/k7TH/Z34GTkdlZsBjrvgLZ0I/GPPCeGCrhR4h91T0wJ3ItoIbcaZLoWZsSFIrhqpby45EHxG3SkIlWaMkIQVKhpANEhRBAs01kg6EBEEfpXMuHQh9gnh6Vm4GUskoTCkkLZkotq5cUmwhE21RmQiB0X6TRgkVmCRNAmUq5ROroobxDFRRy+3w0dbaQW4kq6Y1krkFjc1rbHvzwDCOGuOQMo8342A0j1TzMDaPceMHYOmn4x8aUriIAvQeaQAAAABJRU5ErkJggg==");
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .second-level-node {
        width: 100%;
        .second-level-node-head {
          padding: 2rpx 32rpx 16rpx;
          display: flex;
          align-items: center;
          .second-level-node-name {
            color: #999999;
            font-size: 24rpx;
          }
          .desc-icon {
            width: 28rpx;
            height: 28rpx;
            border-radius: 50%;
            margin-left: 6rpx;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4BAMAAABaqCYtAAAAJ1BMVEVHcEyIiIiJiYmPj4+MjIyIiIiIiIiJiYmJiYmKioqJiYmIiIiIiIhOEBiFAAAADHRSTlMA5bUNKvXVZnlMmoukYXdyAAAB5ElEQVQ4y31Vv0/CUBA+KKjAJv4aOqAhGpMOOCiOOuDEgAljB6IuJgyoK4NGJ8NgTGRiME4mMjC7tWlrgfujfK/h/Sx5b3j09R5393333RWAr9zr7ubl+vcZLFnvLiYrPEyZrCfy+urnd59c2alpxjsMDxKHuXsXt1XbEKMH9lzv4q1sK6HXE6dVGydSQCd8lu+eur4Ie4EbapRzvOEAbV/Lz3I8BvcEP3VkRbxePDmzNCVjn6VaSRuzi4RHXi1ttOxp8tttL6O6ESWQ8XGZcQ0pLUfCa/1r70X4LZN98MdJpEWrslM/Jpvd4chxy8aQoV/xAArY49lXwRpimdGPb5ANWcgRxW1158yRW4G8z4I4Ad2bHj+3oMnzsVt0zyPz1A9gEHBjwmIGWUbNGMYtLr/k7TH/Z34GTkdlZsBjrvgLZ0I/GPPCeGCrhR4h91T0wJ3ItoIbcaZLoWZsSFIrhqpby45EHxG3SkIlWaMkIQVKhpANEhRBAs01kg6EBEEfpXMuHQh9gnh6Vm4GUskoTCkkLZkotq5cUmwhE21RmQiB0X6TRgkVmCRNAmUq5ROroobxDFRRy+3w0dbaQW4kq6Y1krkFjc1rbHvzwDCOGuOQMo8342A0j1TzMDaPceMHYOmn4x8aUriIAvQeaQAAAABJRU5ErkJggg==");
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
        }
        .third-level-node {
          padding: 0 16rpx 0 32rpx;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .third-level-node-item {
            height: 72rpx;
            min-width: 218rpx;
            margin: 0 16rpx 16rpx 0;
            border-radius: 6rpx;
            background: #F7F7F7;
            display: table;
            padding: 0 24rpx;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            box-sizing: border-box;
            text {
              display: table-cell;
              vertical-align: middle;
              color: #333333;
              font-size: 28rpx;
            }
          }
        }
      }
    }
  }
}
