.publish-main-container {
  width: 100%;
  .selected-img-pre {
    width: 100%;
    padding: 41rpx 30rpx 20rpx;
    box-sizing: border-box;
    white-space: nowrap;
    .add-img-hander {
      display: inline-block;
      width: 130rpx;
      height: 130rpx;
      border-radius: 6rpx;
      background: #F8F8F8;
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 4rpx;
        height: 62rpx;
        background: #999999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      &::after {
        content: '';
        display: block;
        width: 62rpx;
        height: 4rpx;
        background: #999999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
    }
    .img-preview {
      display: inline-block;
      width: 130rpx;
      height: 130rpx;
      border-radius: 6rpx;
      background: #000000;
      margin-left: 17rpx;
      overflow: hidden;
      position: relative;
      .play-icon {
        position: absolute;
        width: 36rpx;
        height: 36rpx;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      .upload-progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
        display: table;
        text-align: center;
        text {
          display: table-cell;
          vertical-align: middle;
          color: #FFFFFF;
          font-size: 26rpx;
        }
      }
      .tag-icon {
        width: 22rpx;
        height: 22rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAOVBMVEVHcEz///////////////////////////////////////////////////////////////////////99PJZNAAAAEnRSTlMAjQr2ASGhFM+8kGXkxyNNdzAmIDCjAAABK0lEQVQ4y43V27LDIAgFUBtpLEdTE/7/Y4vpyTQCXnhs1+xBkdY5ozImqsqn9WlBB8tKRvlo4fAiu2LDYn5XdUTuyz9N+wAHID5nvZrW6i4SpVnrDu5j1ro3fzVrJe5agfu2xgNbYWEhbt5vEUxcWwj4nTAGA8tcvN4DgsKyX56W30PY/e31XFidbSPay+vYiTaB9T1wYjhbv434i407+8dOY9T3e7bBpdrIxiyaB8T7/bSvDnJ5z7wBWe+WGgpwa1gOc6gFBzXuPyqhyVxbWcXyCvKPRFpm7Gs5d4twmbBn+4+h/lkH60DfLB+9r+92lC1sN1vaXrZhm9mWbWU3rJndslZ2x6rsnpW6bysNI3vpFI+8DW3ZkN9/4MCe/HGt6uIm6liTT5gd6K8+1rMiXFjaAN4AAAAASUVORK5CYII=");
        background-size: 100%;
        position: absolute;
        left: 10rpx;
        bottom: 10rpx;
        z-index: 5;
      }
    }
  }
  .input-title {
    margin: 0 32rpx;
    height: 90rpx;
    border-bottom: 1rpx solid #DCDCDC;
    display: flex;
    align-items: center;
    .input {
      width: 100%;
      font-size: 30rpx;
      color: #333333;
      font-weight: 500rpx;
    }
    .input-title-placeholder {
      color: #999999;
      font-size: 30rpx;
      font-weight: normal;
    }
    .word-count {
      font-size: 24rpx;
      color: #999999;
      margin-left: 60rpx;
    }
  }
  .text-area-input {
    padding: 0 32rpx;
    .textarea {
      width: 100%;
      padding: 26rpx 0;
      height: 254rpx;
      color: #333333;
      font-size: 30rpx;
      font-weight: normal;
    }
    .input-text-placeholder {
      color: #999999;
      font-size: 30rpx;
      font-weight: normal;
    }
    .word-count {
      width: 100%;
      height: 86rpx;
      line-height: 86rpx;
      text-align: right;
      color: #999999;
      font-size: 24rpx;
      border-bottom: 1rpx solid #DCDCDC;
    }
  }
  .linked {
    padding: 0 32rpx;
    height: 98rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .linked-main, .linked-secondary {
      display: flex;
      align-items: center;
      height: 100%;
      line-height: normal;
    }
    .linked-main {
      .icon {
        width: 32rpx;
        height: 28rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAA4BAMAAAC/NuNBAAAALVBMVEVHcEw1NTU9PT0zMzMzMzMzMzM1NTUzMzM2NjYzMzM0NDQ0NDQzMzM0NDQzMzMO9iQzAAAADnRSTlMASwzktM01iyGtpPhyWkDNc6YAAAGQSURBVDjL7ZQxS8NQEMevAWMUBR2kmwSKYB1ECiouRdDJyepeIg4uUhTBsQRnEdFdpHQWwb04iZP4CQoa2liD9xm860tI2r57H0D8Dwm5+72X9/7v3gGQjvZbOKJo9RxizaEmTwRWVL6Iom4471RloOMTsIAG7RFwZwJ6ADl6Ba8ujMi6LFNqBsbo2QCtlii1CzXEbxD0gNiFOmJJAgqIIdAmnyVgijYKtBI/E1u8yHw4iE9ALqdbsM8Q1710I+Q30ErTEX1PeumMnMwCh8qdNQmw40ONPAEoJAaXBKDOrrO/oR5w6A+h7xAW+VqAbMF3gGlMrYuBbaWt+FToBDYh1+RQDKT6YGAecQXektAg8MnAMuIjtPTAFwNXNIOFeuCHgTaXSVUPBHRuFjlxn7iugFmlvLoIxX4lWgccGnKShgan+bKaSGd1e2ApGmAiAa4FwIqX3nGlgplUQEOsKGoEpArIABw3d17ABAzpH/iDgCvl+X5xrZsUmJs9t/uaGejCuBk4Ua1LFLcz+1bOb3jwC85OA4eBCBd1AAAAAElFTkSuQmCC");
        background-size: 100%;
        margin-right: 16rpx;
      }
      .title {
        font-size: 30rpx;
        color: #333333;
        font-weight: 600;
      }
      .hint-icon {
        margin-left: 8rpx;
        background-size: 100%;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4BAMAAABaqCYtAAAAJ1BMVEVHcEyIiIiJiYmPj4+MjIyIiIiIiIiJiYmJiYmKioqJiYmIiIiIiIhOEBiFAAAADHRSTlMA5bUNKvXVZnlMmoukYXdyAAAB5ElEQVQ4y31Vv0/CUBA+KKjAJv4aOqAhGpMOOCiOOuDEgAljB6IuJgyoK4NGJ8NgTGRiME4mMjC7tWlrgfujfK/h/Sx5b3j09R5393333RWAr9zr7ubl+vcZLFnvLiYrPEyZrCfy+urnd59c2alpxjsMDxKHuXsXt1XbEKMH9lzv4q1sK6HXE6dVGydSQCd8lu+eur4Ie4EbapRzvOEAbV/Lz3I8BvcEP3VkRbxePDmzNCVjn6VaSRuzi4RHXi1ttOxp8tttL6O6ESWQ8XGZcQ0pLUfCa/1r70X4LZN98MdJpEWrslM/Jpvd4chxy8aQoV/xAArY49lXwRpimdGPb5ANWcgRxW1158yRW4G8z4I4Ad2bHj+3oMnzsVt0zyPz1A9gEHBjwmIGWUbNGMYtLr/k7TH/Z34GTkdlZsBjrvgLZ0I/GPPCeGCrhR4h91T0wJ3ItoIbcaZLoWZsSFIrhqpby45EHxG3SkIlWaMkIQVKhpANEhRBAs01kg6EBEEfpXMuHQh9gnh6Vm4GUskoTCkkLZkotq5cUmwhE21RmQiB0X6TRgkVmCRNAmUq5ROroobxDFRRy+3w0dbaQW4kq6Y1krkFjc1rbHvzwDCOGuOQMo8342A0j1TzMDaPceMHYOmn4x8aUriIAvQeaQAAAABJRU5ErkJggg==");
        width: 28rpx;
        height: 28rpx;
      }
    }
    .linked-secondary {
      .text {
        color: #888888;
        font-size: 28rpx;
      }
      .icon {
        width: 16rpx;
        height: 27rpx;
        margin-left: 24rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAA2BAMAAABU24ZBAAAAGFBMVEVHcExISEg0NDQ0NDRAQEA0NDQzMzMzMzPM5HKxAAAAB3RSTlMAB7aZD8vnCpK3GQAAAFhJREFUKM9jYMAAZskCKHzm8nJFFAG28vIiATQBVCVALahKGNXRlQiNKqGeknSgiAFa+Jc6IAmYAwVCRhVQQQEbmgKQAIoCkBYUBQws5sUOqFmMUYABLwAATLJddgE151EAAAAASUVORK5CYII=");
        background-size: 100%;
      }
    }
  }
  .my-guide-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    .guide-item {
      margin-top: 35rpx;
      padding: 0 30rpx;
      height: 72rpx;
      border-radius: 10rpx;
      background: #FFFFFF;
      color: #4A4A4A;
      box-shadow: 0 4rpx 35rpx 0 rgba(0,0,0,0.06);
      display: flex;
      align-items: center;
      margin-right: 20rpx;
      box-sizing: border-box;
      &:first-of-type {
        margin-left: 31rpx;
      }
      &:last-of-type {
        margin-right: 31rpx;
      }
      &.active {
        font-weight: 600;
        color: #FFFFFF;
        background-image: linear-gradient(to right, #FF7B98, #FF6E6D);
      }
      .search-icon {
        width: 25rpx;
        height: 23rpx;
        margin-right: 11rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAuBAMAAACYBVdiAAAALVBMVEVHcExMTExLS0tLS0tLS0tMTExKSkpMTExNTU1LS0tLS0tLS0tSUlJKSkpKSkqKypyeAAAADnRSTlMAQ+78qjjCWiVumoIM2Q7yDvUAAAFLSURBVDjLfVQ9S8NQFH0p1dTiUFToJhUcpGDAQcQlqEPHksmlIA7tGir9A8XZQXAX6Q9wcxVHZ3+AYJIWVDy/wSQ3zXu5ye1ZcsnJeTn36ymVYdD7OBy+qBKsGVJ0W4xY85Fh4RWIRh85oqnJbMVv9m/u3tsXcbBnEBsucE7hDhDea+YZGC3jS+BHS4BT/dkDkIu2ERheLQdHS2MODkw7twgye3WEhfQsF2cUXeG7mPYj5hT4uC4y61iQGPBYqYD0+CYiXt4+npJHDV+c2UWHDHQ4UyMLryQ10cQvHTrmjE2/9tEqNZhsf2LKmQb+koeDN85sIljNyKfJDmTXFZnWKVO5OnJF5S7InZO7vWJC5KkqT2I+vqXpxYk08QjH1VsSuVrENmuiRck2dpNtnKXbaGsR32BDxLY+Fh0LN8WEOlRxu9juXAkYeErGP1xD5Rbq1jJeAAAAAElFTkSuQmCC");
        background-size: 100%;
      }
      text {
        display: table-cell;
        vertical-align: middle;
        font-size: 26rpx;
        font-weight: 600;
      }
    }
  }
}
