.dynamiclog-box {
  position: relative;
  .banner-box {
    position: relative;
    .banner-photo-box {
      width: 100%;
      height: 360rpx;
    }
    .detail-box {
      position: absolute;
      top: 56rpx;
      left: 32rpx;
      right: 32rpx;
      .label-box {
        display: flex;
        justify-content: space-between;
        .label-detail {
          display: flex;
          .label-icon {
            width: 25rpx;
            height: 22rpx;
          }
          .label-txt {
            font-size: 24rpx;
            color: #FFFFFF;
            margin: 6rpx 0 0 16rpx;
          }
        }
        .share-img-box {
          display: flex;
          .share-img {
            width: 44rpx;
            height: 44rpx;
            margin-right: 28rpx;
            overflow: visible;
            image {
              display: block;
            }
          }
          .more-img {
            width: 44rpx;
            height: 44rpx;
          }
        }
      }
      .banner-txt-box {
        color: #FFFFFF;
        margin: 15rpx 0 16rpx;
        .banner-txt-title {
          font-size: 48rpx;
          font-weight: 600;
          margin-bottom: 6rpx;
        }
        .banner-txt-time {
          font-size: 24rpx;
        }
      }
    }
  }
  .content-box {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 280rpx;
    .all-content {
      .user-box {
        display: flex;
        height: 90rpx;
        line-height: 90rpx;
        margin-top: -20rpx;
        .user-head-box {
          width: 72rpx;
          height: 72rpx;
          border-radius: 50%;
          border: 3rpx solid #FFFFFF;
          overflow: hidden;
          margin-left: 35rpx;
        }
        .username {
          font-size: 30rpx;
          font-weight: 600;
          margin: 12rpx 0 0 20rpx;
        }
      }
      .dynamic-content-box {
        padding-bottom: 50rpx;
        .treasure-content-box {
          padding: 20rpx 32rpx 0 32rpx;
          .time-record-box {
            display: flex;
            justify-content: space-between;
            .timelist {
              display: flex;
              .upstairs {
                font-family: 'Base', serif;
                width: 50rpx;
                text-align: center;
                color: #75CEF1;
                font-size: 28rpx;
              }
              .upstairs-time {
                color: #B3B3B3;
                font-weight: 500;
                font-size: 24rpx;
                margin: 6rpx 0 0 24rpx;
              }
            }
            .day-time {
              font-weight: 500;
              color: #B3B3B3;
              font-size: 24rpx;
            }
          }
          .logcontentbox {
            width: 658rpx;
            border-left: 2rpx solid #CCCCCC;
            margin-left: 24rpx;
            .logdetail {
              width: 614rpx;
              margin-left: 44rpx;
              .logtitle {
                font-size: 32rpx;
                font-weight: 500;
                margin: 24rpx 0 16rpx;
              }
              .logtxt-box {
                width: 614rpx;
                position: relative;
                .detailtxt {
                  width: 556rpx;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  font-size: 28rpx;
                  line-height: 42rpx;
                }
                .alltxt {
                  width: 60rpx;
                  height: 30rpx;
                  background: #FFFFFF;
                  position: absolute;
                  right: 0;
                  bottom: 8rpx;
                  color: #4A90E2;
                  font-size: 28rpx;
                }
              }
              .logimage-box {
                display: flex;
                flex-wrap: wrap;
                margin-top: 16rpx;
                .allimagelist {
                  width: 33%;
                  .imagelist-box {
                    width: 200rpx;
                    height: 200rpx;
                    border-radius: 10rpx;
                    margin-top: 10rpx;
                    overflow: hidden;
                  }
                }
              }
              .videolog-box {
                width: 320rpx;
                height: 420rpx;
                border-radius: 10rpx;
                overflow: hidden;
                margin-top: 20rpx;
              }
            }
          }

        }
      }
    }
    .footbanner-box {
      height: 121rpx;
      line-height: 121rpx;
      background: #F5F5F5;
      text-align: center;
      .footimg {
        width: 545rpx;
        height: 37rpx;
        margin: 0 auto;
      }
    }
  }
}
